<section>
    <div class="khar2">

        <div class="container1">
            <!-- freshdesignweb top bar -->         
     <div class="slider_container1">
        <div class="flexslider">
          <ul class="slides">
            <li>
                <a href="#"><%= image_tag("1.jpg") %></a>
                <div class="flex-caption">
                     <div class="caption_title_line"><h2>Party Hairstyles</h2><p>Find the perfect hairstyle a la Lauren Conrad for every type of festive fête.</p></div>
                </div>
            </li>
            <li>
                <a href="#"><%= image_tag("2.jpg") %></a>
                <div class="flex-caption">
                     <div class="caption_title_line"><h2>Beautiful Hairstyle</h2><p>The latest hairstyles and instructions on how to create them here. Total Beauty has your complete hairstyles guide</p></div>
                </div>
            </li>
            <li>
                <a href="#"><%= image_tag("3.jpg") %></a>
                <div class="flex-caption">
                     <div class="caption_title_line"><h2>Party Dresses</h2><p>If you are looking for something a little special for your big night out, check out Rare London's collection of stunning party dresses</p></div>
                </div>
            </li>
            <li>
                <a href="#"><%= image_tag("4.jpg") %></a>
                <div class="flex-caption">
                     <div class="caption_title_line"><h2>Bodycon Dresses</h2><p>The bodycon dress is a key silhouette for this season's party girl; from sleek colour-block panelling to geometric prints the bodycon.</p></div>
                </div>
            </li>
        </ul>
      </div>
   </div>
    </div>           
















     <div class="wrapper">

          <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" class="active"><font color="black" family="BNazanin">معماري ومحيط</font></a></li>
    <li><a href="#tab2"><font color="black" family="BNazanin">مشخصات حقوقی</font></a></li>
  </ul>
              <section id="first-tab-group" class="tabgroup">
    <div id="tab1" style="direction: rtl;text-align: center;" >

         <p style="padding:4%;font-size: 120%;text-align: justify;line-height: 26px;margin-top:-4%;"><font color="black" family="BNazanin">
              
          شركت مهندسين مشاورمعماري ومحيط درسال ۱۳۶۰ به منظور ارائه خدمات مشاوره اي فني درزمينه پروژه هاي معماري وشهرسازي تشكيل وبا تاييد سازمان برنامه وبودجه وقت بعنوان مهندس مشاوردررشته معماري وشهرسازي تشخيص صلاحيت شده وهم اكنون دررشته ساختمان با گرايش ساختمان هاي آموزش ورزشي- تفريحي وسياحتي- ساختمان هاي تجاري مسكوني فعاليت مي نمايد. مهندسين مشاورمعماري ومحيط درطي بيش از۳۰سال فعاليت اين توفيق را داشته تا علاوه برمسئوليت تهيه طرح ونظارت براجراي بسياري ازپروژه ها آموزشي-اداري- مسكوني- خدماتي مربوط به سازمان هاي دولتي وبا شهرداري ها درتهيه طرح هاي جامع شهري ودانشگاهي وبرنامه ريزي هاي مختلف نيزپروژه اي را به مرحله بهره برداري برساند. مهندسين مشاورمعماري ومحيط آمادگي كامل دارد تا درانجام كليه امورطراحي ونظارت پروژه هاي ساختماني خدمات مهندسي ارائه نمايد. 
                </font></p>
                    </div>
                     <div id="tab2" style="direction: rtl;text-align: center;">
                    <table class="table" style="">

                    <thead>
                      <tr>

                      <th style="font-size:21px;"> <%= image_tag("logom.jpg", width:'190px')%><font color="black" family="BNazanin"> مشخصات حقوقی </font> </th>
                      </tr>
                    </thead>
                     <tbody>
                      <tr class="info">
                      <td style="background-color: #BDB7B7;font-size:16px;"><font color="black" family="BNazanin">نام</font></td>
                      <td style="background-color: #BDB7B7;font-size:16px;"><font color="black" family="BNazanin">مهندسین مشاور مهندسین مشاور معماری و محیط</font></td> 
                      
                      </tr>
                      <tr class="success">
                      <td style="    background-color: #FFD97F;font-size:16px"><font color="black" family="BNazanin">سال تأسیس</font></td> 
                      
                      <td style="    background-color: #FFD97F;font-size:16px;"><font color="black" family="BNazanin">۱۳۶۰</font></td>
                      </tr>
                      <tr class="info">
                       <td style="    background-color: #BDB7B7;font-size:16px;"><font color="black" family="BNazanin">شماره ثبت</font></td> 
                      
                      <td style="    background-color: #BDB7B7;font-size:16px;"><font color="black" family="BNazanin">۴۳۱۶۸</font></td>
                      </tr>
                      <tr class="success">
                        <td style="    background-color: #FFD97F;font-size:16px;"><font color="black" family="BNazanin">نوع فعالیت</font></td> 
                      
                      <td style="    background-color: #FFD97F;font-size:16px;"><font color="black" family="BNazanin">ارائه خدمات مهندسی</font></td>
                      </tr>
                      <tr class="info">
                        <td style="    background-color: #BDB7B7;font-size:16px;"><font color="black" family="BNazanin">رتبه‌بندی</font></td>
                        <td style="    background-color: #BDB7B7;font-size:16px;"><font color="black" family="BNazanin">پایه ۲ تخصص‌های آموزشی–  ورزشی –  بهداشتی – درمانی

                          پایه ۳ تخصص‌های مسکونی –  اداری – تجاری – صنعتی و نظامی

                          پایه ۳ تخصص‌ مقاوم‌سازی</font>
                        </td> 
                      </tr>
                    </tbody>
                    </table>
                    </div>
         </section>
  </div>

  </div>

 

        <div class="container">
            <div class="row wrap_9 wrap_4 wrap_10">
                <div class="grid_12">
                    <div class="header_1 wrap_3 color_3">
                        Get in Touch
                    </div>
                    <div class="box_3">
                        <ul class="list_1">
                            <li><a class="fa fa-twitter" href="#"></a></li>
                            <li><a class="fa fa-facebook" href="#"></a></li>
                            <li><a class="fa fa-google-plus" href="#"></a></li>
                            <li><a class="fa fa-pinterest" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <script >
        $('.tabgroup > div').hide();
$('.tabgroup > div:first-of-type').show();
$('.tabs a').click(function(e){
  e.preventDefault();
    var $this = $(this),
        tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
        others = $this.closest('li').siblings().children('a'),
        target = $this.attr('href');
    others.removeClass('active');
    $this.addClass('active');
    $(tabgroup).children('div').hide();
    $(target).show();
  
})</script>
























































    

        <style>
    /* Slider
http://www.freshdesignweb.com/fashion-responsive-slider-tutorial.html
*/
/* Slider
/*-----------------------------------------------------------------------------------*/
.slider_container1{ width:920px; margin:auto; clear:both; background:url(assets/shadow_top.png) no-repeat top center; padding:30px 0 0 0;}
.flex-caption{ position: absolute; right:11px; bottom:20px;}
.caption_title_line{ width:450px; height:75px; padding:5px 15px 10px 15px;background:url(assets/slider_caption_bg.png) repeat;color: #303030;}
.flex-caption h2{ color:#303030;font-size:20px; padding:5px 0 5px 0; margin:0px;font-family: 'Ovo', serif;}

.flex-container1 a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0 0 30px 0;background:url(assets/shadow_bottom.png) no-repeat center bottom;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; border:10px #ededed solid;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container1 {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(assets/next.png) no-repeat center; bottom:184px;}
.flex-direction-nav li a.prev {background:url(assets/prev.png) no-repeat center;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url(assets/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(assets/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
.slider_container1{ width:90%; margin:0 0 0 2%; clear:both; background:none; padding:30px 0 0 0;}
.flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(assets/next.png) no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url(assets/prev.png) no-repeat center;bottom:40px;}
.flex-caption { display:none;}
}
.container1{
    width: 100%;
    height: 100%;
    position: relative;
}
.clr{
    clear: both;
}
.container1 > header{
    padding: 20px 30px 20px 30px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container1 > header h1{
    position: relative;
    color: #498ea5;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding: 0px 0px 5px 0px;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container1 > header h1 span{
    font-family: 'Alegreya SC', Georgia, serif;
    font-size: 20px;
    line-height: 20px;
    display: block;
    font-weight: 400;
    font-style: italic;
    color: #719dab;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.container1 > header h2{
    font-size: 16px;
    font-style: italic;
    color: #2d6277;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.freshdesignweb-top{
    line-height: 24px;
    font-size: 11px;
    background: rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.freshdesignweb-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}
.freshdesignweb-top a:hover{
    background: #fff;
}
.freshdesignweb-top span.right{
    float: right;
}
.freshdesignweb-top span.right a{
    float: left;
    display: block;
}
.freshdesignweb-demos{
    text-align:center;
    display: block;
    line-height: 30px;
    padding: 20px 0px;
}
.freshdesignweb-demos a{
    display: inline-block;
    margin: 0px 4px;
    padding: 0px 4px;
    color: #fff;
    line-height: 20px;  
    font-style: italic;
    font-size: 13px;
    border-radius: 3px;
    background: rgba(41,77,95,0.1);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.freshdesignweb-demos a:hover{
    background: rgba(41,77,95,0.3);
}
.freshdesignweb-demos a.current,
.freshdesignweb-demos a.current:hover{
    background: rgba(41,77,95,0.3);
}
</style>

<script>
    /*
 * jQuery FlexSlider v1.7
 * http://flex.madebymufffin.com
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 */
(function(a){a.flexslider=function(c,b){var d=c;d.init=function(){d.vars=a.extend({},a.flexslider.defaults,b);d.data("flexslider",true);d.container1=a(".slides",d);d.slides=a(".slides > li",d);d.count=d.slides.length;d.animating=false;d.currentSlide=d.vars.slideToStart;d.animatingTo=d.currentSlide;d.atEnd=(d.currentSlide==0)?true:false;d.eventType=("ontouchstart" in document.documentElement)?"touchstart":"click";d.cloneCount=0;d.cloneOffset=0;if(d.vars.controlscontainer1!=""){d.controlscontainer1=a(d.vars.controlscontainer1).eq(a(".slides").index(d.container1));d.container1Exists=d.controlscontainer1.length>0}if(d.vars.manualControls!=""){d.manualControls=a(d.vars.manualControls,((d.container1Exists)?d.controlscontainer1:d));d.manualExists=d.manualControls.length>0}if(d.vars.randomize){d.slides.sort(function(){return(Math.round(Math.random())-0.5)});d.container1.empty().append(d.slides)}if(d.vars.animation.toLowerCase()=="slide"){d.css({overflow:"hidden"});if(d.vars.animationLoop){d.cloneCount=2;d.cloneOffset=1;d.container1.append(d.slides.filter(":first").clone().addClass("clone")).prepend(d.slides.filter(":last").clone().addClass("clone"))}d.container1.width(((d.count+d.cloneCount)*d.width())+2000);d.newSlides=a(".slides > li",d);setTimeout(function(){d.newSlides.width(d.width()).css({"float":"left"}).show()},100);d.container1.css({marginLeft:(-1*(d.currentSlide+d.cloneOffset))*d.width()+"px"})}else{d.slides.css({width:"100%","float":"left",marginRight:"-100%"}).eq(d.currentSlide).fadeIn(400)}if(d.vars.controlNav){if(d.manualExists){d.controlNav=d.manualControls}else{var g=a('<ol class="flex-control-nav"></ol>');var k=1;for(var l=0;l<d.count;l++){g.append("<li><a>"+k+"</a></li>");k++}if(d.container1Exists){a(d.controlscontainer1).append(g);d.controlNav=a(".flex-control-nav li a",d.controlscontainer1)}else{d.append(g);d.controlNav=a(".flex-control-nav li a",d)}}d.controlNav.eq(d.currentSlide).addClass("active");d.controlNav.bind(d.eventType,function(i){i.preventDefault();if(!a(this).hasClass("active")){d.flexAnimate(d.controlNav.index(a(this)),d.vars.pauseOnAction)}})}if(d.vars.directionNav){var f=a('<ul class="flex-direction-nav"><li><a class="prev" href="#">'+d.vars.prevText+'</a></li><li><a class="next" href="#">'+d.vars.nextText+"</a></li></ul>");if(d.container1Exists){a(d.controlscontainer1).append(f);d.directionNav=a(".flex-direction-nav li a",d.controlscontainer1)}else{d.append(f);d.directionNav=a(".flex-direction-nav li a",d)}if(!d.vars.animationLoop){if(d.currentSlide==0){d.directionNav.filter(".prev").addClass("disabled")}else{if(d.currentSlide==d.count-1){d.directionNav.filter(".next").addClass("disabled")}}}d.directionNav.bind(d.eventType,function(i){i.preventDefault();var j=(a(this).hasClass("next"))?d.getTarget("next"):d.getTarget("prev");if(d.canAdvance(j)){d.flexAnimate(j,d.vars.pauseOnAction)}})}if(d.vars.keyboardNav&&a("ul.slides").length==1){a(document).keyup(function(i){if(d.animating){return}else{if(i.keyCode!=39&&i.keyCode!=37){return}else{if(i.keyCode==39){var j=d.getTarget("next")}else{if(i.keyCode==37){var j=d.getTarget("prev")}}if(d.canAdvance(j)){d.flexAnimate(j,d.vars.pauseOnAction)}}}})}if(d.vars.slideshow){if(d.vars.pauseOnHover&&d.vars.slideshow){d.hover(function(){d.pause()},function(){d.resume()})}d.animatedSlides=setInterval(d.animateSlides,d.vars.slideshowSpeed)}if(d.vars.pausePlay){var e=a('<div class="flex-pauseplay"><span></span></div>');if(d.container1Exists){d.controlscontainer1.append(e);d.pausePlay=a(".flex-pauseplay span",d.controlscontainer1)}else{d.append(e);d.pausePlay=a(".flex-pauseplay span",d)}var h=(d.vars.slideshow)?"pause":"play";d.pausePlay.addClass(h).text((h=="pause")?d.vars.pauseText:d.vars.playText);d.pausePlay.click(function(i){i.preventDefault();(a(this).hasClass("pause"))?d.pause():d.resume()})}if(d.vars.touchSwipe&&"ontouchstart" in document.documentElement){d.each(function(){var i,j=20;isMoving=false;function o(){this.removeEventListener("touchmove",m);i=null;isMoving=false}function m(s){if(isMoving){var p=s.touches[0].pageX,q=i-p;if(Math.abs(q)>=j){o();var r=(q>0)?d.getTarget("next"):d.getTarget("prev");if(d.canAdvance(r)){d.flexAnimate(r,d.vars.pauseOnAction)}}}}function n(p){if(p.touches.length==1){i=p.touches[0].pageX;isMoving=true;this.addEventListener("touchmove",m,false)}}if("ontouchstart" in document.documentElement){this.addEventListener("touchstart",n,false)}})}if(d.vars.animation.toLowerCase()=="slide"){d.sliderTimer;a(window).resize(function(){d.newSlides.width(d.width());d.container1.width(((d.count+d.cloneCount)*d.width())+2000);clearTimeout(d.sliderTimer);d.sliderTimer=setTimeout(function(){d.flexAnimate(d.currentSlide)},300)})}d.vars.start(d)};d.flexAnimate=function(f,e){if(!d.animating){d.animating=true;d.animatingTo=f;d.vars.before(d);if(e){d.pause()}if(d.vars.controlNav){d.controlNav.removeClass("active").eq(f).addClass("active")}d.atEnd=(f==0||f==d.count-1)?true:false;if(!d.vars.animationLoop&&d.vars.directionNav){if(f==0){d.directionNav.removeClass("disabled").filter(".prev").addClass("disabled")}else{if(f==d.count-1){d.directionNav.removeClass("disabled").filter(".next").addClass("disabled")}else{d.directionNav.removeClass("disabled")}}}if(!d.vars.animationLoop&&f==d.count-1){d.pause();d.vars.end(d)}if(d.vars.animation.toLowerCase()=="slide"){if(d.currentSlide==0&&f==d.count-1&&d.vars.animationLoop&&d.direction!="next"){d.slideString="0px"}else{if(d.currentSlide==d.count-1&&f==0&&d.vars.animationLoop&&d.direction!="prev"){d.slideString=(-1*(d.count+1))*d.slides.filter(":first").width()+"px"}else{d.slideString=(-1*(f+d.cloneOffset))*d.slides.filter(":first").width()+"px"}}d.container1.animate({marginLeft:d.slideString},d.vars.animationDuration,function(){if(d.currentSlide==0&&f==d.count-1&&d.vars.animationLoop){d.container1.css({marginLeft:(-1*d.count)*d.slides.filter(":first").width()+"px"})}else{if(d.currentSlide==d.count-1&&f==0&&d.vars.animationLoop){d.container1.css({marginLeft:-1*d.slides.filter(":first").width()+"px"})}}d.animating=false;d.currentSlide=f;d.vars.after(d)})}else{d.slides.eq(d.currentSlide).fadeOut(d.vars.animationDuration);d.slides.eq(f).fadeIn(d.vars.animationDuration,function(){d.animating=false;d.currentSlide=f;d.vars.after(d)})}}};d.animateSlides=function(){if(!d.animating){var e=(d.currentSlide==d.count-1)?0:d.currentSlide+1;d.flexAnimate(e)}};d.pause=function(){clearInterval(d.animatedSlides);if(d.vars.pausePlay){d.pausePlay.removeClass("pause").addClass("play").text(d.vars.playText)}};d.resume=function(){d.animatedSlides=setInterval(d.animateSlides,d.vars.slideshowSpeed);if(d.vars.pausePlay){d.pausePlay.removeClass("play").addClass("pause").text(d.vars.pauseText)}};d.canAdvance=function(e){if(!d.vars.animationLoop&&d.atEnd){if(d.currentSlide==0&&e==d.count-1&&d.direction!="next"){return false}else{if(d.currentSlide==d.count-1&&e==0&&d.direction=="next"){return false}else{return true}}}else{return true}};d.getTarget=function(e){d.direction=e;if(e=="next"){return(d.currentSlide==d.count-1)?0:d.currentSlide+1}else{return(d.currentSlide==0)?d.count-1:d.currentSlide-1}};d.init()};a.flexslider.defaults={animation:"fade",slideshow:true,slideshowSpeed:7000,animationDuration:600,directionNav:true,controlNav:true,keyboardNav:true,touchSwipe:true,prevText:"Previous",nextText:"Next",pausePlay:false,pauseText:"Pause",playText:"Play",randomize:false,slideToStart:0,animationLoop:true,pauseOnAction:true,pauseOnHover:false,controlscontainer1:"",manualControls:"",start:function(){},before:function(){},after:function(){},end:function(){}};a.fn.flexslider=function(b){return this.each(function(){if(a(this).find(".slides li").length==1){a(this).find(".slides li").fadeIn(400)}else{if(a(this).data("flexslider")!=true){new a.flexslider(a(this),b)}}})}})(jQuery);
</script>
<script type="text/javascript" charset="utf-8">
    var $ = jQuery.noConflict();
    $(window).load(function() {
    $('.flexslider').flexslider({
          animation: "fade"
    });
    
    $(function() {
        $('.show_menu').click(function(){
                $('.menu').fadeIn();
                $('.show_menu').fadeOut();
                $('.hide_menu').fadeIn();
        });
        $('.hide_menu').click(function(){
                $('.menu').fadeOut();
                $('.show_menu').fadeIn();
                $('.hide_menu').fadeOut();
        });
    });
  });
</script>













