
<div class="wrapper">
  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" ><font color="black" family="BNazanin">مریم هوشور</font></a></li>
    <li><a href="#tab2"><font color="black" family="BNazanin">خوبچهر کشاورزی</font></a></li>
    <li><a href="#tab3" class="active"><font color="black" family="BNazanin">یزدان هوشور</font></a></li>
  </ul>
  <section id="first-tab-group" class="tabgroup">
    <div id="tab1">
      <div    style="direction: rtl;">
    <div style="text-align: center;font-family: ;">
      <div class="thumbnail" style="border:10px outset silver;height:380px;">
      <%= image_tag("profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3><font color="black" family="BNazanin">مریم هوشور </h3>
            سابقه کار - سال : ۱۷
            <br>
              مدرک تحصیلی:کارشناس ارشد معماری 
              <br>
        گروه:معماری</font>
    </div>
        </div>
    </div>
  </div>
    </div>
    <div id="tab2">
      <div    style="direction: rtl;">
    <div style="text-align: center;">
      <div class="thumbnail" style="border:10px outset silver;height:380px;">
      <%= image_tag("profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3><font color="black" family="BNazanin">خوبچهر کشاورزی </font></h3>
            <font color="black" family="BNazanin">سابقه کار - سال : ۴۲
            <br>
              مدرک تحصیلی:کارشناس ارشد معماری 
              <br>
        گروه:معماری</font>
    </div>
        </div>
    </div>
  </div>
    </div>
    <div id="tab3">
      <div    style="direction: rtl;">
    <div style="text-align: center;">
      <div class="thumbnail" style="border:10px outset silver;height:380px;">
        <%= image_tag("profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3><font color="black" family="BNazanin">یزدان هوشور </font> </h3>
            <font color="black" family="BNazanin">سابقه کار - سال : ۵۰
            <br>
              مدرک تحصیلی:کارشناس ارشد معماری 
              <br>
        گروه:معماری</font>
    </div>
        </div>
    </div>
  </div>
    </div>
    

  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab4"><font color="black" family="BNazanin">عاطفه قوامی‌نیا</font></a></li>
    <li><a href="#tab5"><font color="black" family="BNazanin">بهاره سمیعی</font></a></li>

    <li><a href="#tab6"><font color="black" family="BNazanin">یاسر متقی</font></a></li>
  </ul>
        <div id="tab4">
      <div    style="direction: rtl;">
    <div style="text-align: center;">
      <div class="thumbnail" style="border:10px outset silver;height:380px;">
      <%= image_tag("profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3><font color="black" family="BNazanin">عاطفه قوامی‌نیا</font> </h3>
            <font color="black" family="BNazanin">سابقه کار - سال : ۴
            <br>
              مدرک تحصیلی:کارشناس ارشد معماری 
              <br>
        گروه:معماری</font>
    </div>
        </div>
    </div>
  </div>

    </div>
    <div id="tab5">
      <div    style="direction: rtl;">
    <div style="text-align: center;">
      <div class="thumbnail" style="border:10px outset silver;height:380px;">
        <%= image_tag("profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3><font color="black" family="BNazanin">بهاره سمیعی</font></h3>
            <font color="black" family="BNazanin">سابقه کار - سال : ۸
            <br>
              مدرک تحصیلی:کارشناس معماری 
              <br>
        گروه:معماری</font>
    </div>
        </div>
    </div>
  </div>
    </div>
    <div id="tab6">
        <div    style="direction: rtl;">
    <div style="text-align: center;">
      <div class="thumbnail" style="border:10px outset silver;height:380px;">
        <%= image_tag("profile.png") %>
        <!-- <img src="/assets/profiles_pic/profile.png" > -->
          <div class="caption">
            <h3><font color="black" family="BNazanin">یاسر متقی </font></h3>
            <font color="black" family="BNazanin">سابقه کار - سال : ۱۰
            <br>
              مدرک تحصیلی:کارشناس ارشد معماری 
              <br>
        گروه:معماری</font>
    </div>
        </div>
    </div>
  </div>
    </div>
  </section>
</div>
<div class="container">
            <div class="row wrap_9 wrap_4 wrap_10">
                <div class="grid_12">
                    <div class="header_1 wrap_3 color_3">
                        Get in Touch
                    </div>
                    <div class="box_3">
                        <ul class="list_1">
                            <li><a class="fa fa-twitter" href="#"></a></li>
                            <li><a class="fa fa-facebook" href="#"></a></li>
                            <li><a class="fa fa-google-plus" href="#"></a></li>
                            <li><a class="fa fa-pinterest" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <script >
        $('.tabgroup > div').hide();
$('.tabgroup > div:first-of-type').show();
$('.tabs a').click(function(e){
  e.preventDefault();
    var $this = $(this),
        tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
        others = $this.closest('li').siblings().children('a'),
        target = $this.attr('href');
    others.removeClass('active');
    $this.addClass('active');
    $(tabgroup).children('div').hide();
    $(target).show();
  
})</script>

    
