    <div class="wrapper">
  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" class="active"><font color="black" family="BNazanin">ادوین قازاریان</font></a></li>
    <li><a href="#tab2"><font color="black" family="BNazanin">بهزاد اختری</font></a></li>
    <li><a href="#tab3"><font color="black" family="BNazanin">غلامحسین منافی</font></a></li>
    <li><a href="#tab4"><font color="black" family="BNazanin">وحید امانی</font></a></li>
      </ul>

  <section id="first-tab-group" class="tabgroup">
    <div id="tab1">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
     <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">ادوین قازاریان</font></h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۱۷
        <br>
        مدرک تحصیلی: کارشناس سازه/ کارشناس ارشد مدیریت پروژه
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
    <div id="tab2">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">بهزاد اختری</font></h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۲۱
        <br>
        مدرک تحصیلی:کارشناس سازه
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
    <div id="tab3">
      <div  style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
     <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">غلامحسین منافی</font> </h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۴۲
        <br>
        مدرک تحصیلی: کارشناس ارشد سازه
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
    <div id="tab4">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">وحید امانی</font></h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۸
        <br>
        مدرک تحصیلی:کارشناس سازه
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
      <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab5"><font color="black" family="BNazanin">سامان دلاوری</font></a></li>
    <li><a href="#tab6"><font color="black" family="BNazanin">حسین رهگشا</font></a></li>
    <li><a href="#tab7"><font color="black" family="BNazanin">محمدرضا خلیل زاده</font></a></li>
    <li><a href="#tab8"><font color="black" family="BNazanin">معصومه آسمانی</font></a></li>
  </ul>

    <div id="tab5">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">سامان دلاوری</font> </h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۱۲
        <br>
        مدرک تحصیلی:کارشناس سازه 
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
    <div id="tab6">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">حسین رهگشا</font></h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۱۵
        <br>
        مدرک تحصیلی:کارشناس سازه
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
 </div>
    </div>
    <div id="tab7">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">محمدرضا خلیل زاده </font></h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۵
        <br>
        مدرک تحصیلی:کارشناس سازه / کارشناس ارشد حمل و نقل
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
    <div id="tab8">
      <div    style="direction: rtl;">
  <div style="text-align: center;">
    <div class="thumbnail" style="border:10px outset silver; height:420px;">
      <%= image_tag("profile.png") %>
      <!-- <img src="/assets/profiles_pic/profile.png" > -->
      <div class="caption">
        <h3><font color="black" family="BNazanin">معصومه آسمانی</font></h3>
        <font color="black" family="BNazanin">سابقه کار - سال : ۶
        <br>
        مدرک تحصیلی: کارشناس سازه / کارشناس ارشد هیدرولیک
        <br>
        گروه:سازه</font>
    </div>
  </div>
</div>
</div>
    </div>
  </section>
</div>
<div class="container">
            <div class="row wrap_9 wrap_4 wrap_10">
                <div class="grid_12">
                    <div class="header_1 wrap_3 color_3">
                        Get in Touch
                    </div>
                    <div class="box_3">
                        <ul class="list_1">
                            <li><a class="fa fa-twitter" href="#"></a></li>
                            <li><a class="fa fa-facebook" href="#"></a></li>
                            <li><a class="fa fa-google-plus" href="#"></a></li>
                            <li><a class="fa fa-pinterest" href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script >
        $('.tabgroup > div').hide();
$('.tabgroup > div:first-of-type').show();
$('.tabs a').click(function(e){
  e.preventDefault();
    var $this = $(this),
        tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
        others = $this.closest('li').siblings().children('a'),
        target = $this.attr('href');
    others.removeClass('active');
    $this.addClass('active');
    $(tabgroup).children('div').hide();
    $(target).show();
  
})</script>
